*{
    margin: 0;
    padding: 0;
}

.Navbar_container{
    display: flex;
    justify-content: space-between;
    // gap: 30px;

    .img1{
        margin:0 30px;
        padding:0 20px;
    }
    
    
    .locationholder{
        display: flex;
        text-align: center;
        
    }
        .location{
            img{
                // color:#0544a8;
             background-color: #0544a8; 
             border:1px solid #0544a8;
             margin:0 5px;
            
            }
    }
     

   
    .headerimg{
        display: flex;
        // gap: 20px;
        
        .img3{
            background-color:#0544a8;
            border: 1px solid #0544a8;
            border-radius: 50%;
            padding: 15px;
    
        }
        
        .img4{
            padding: 0 15px;
            margin:0 30px; 
        }
    }

    
}


// body__container

.Headerbody_container{
    background-color:#0544a8 ;
    display: flex;
    justify-content: flex-end;

    .text{
        // display: flex;
        // justify-self:  flex-start;
    }


    .img{
      padding: 50px;
    }
}